.custom-accordion {
    margin-top: 50px;
    width: 100%;  /* Make the accordion span across the entire page width */
}

.custom-accordion .accordion-header {
    background: rgba(0,0,0,0.5);  /* semi-transparent black */
    color: white;
    border: none;
    display: flex;  /* Make this a flex container */
    justify-content: space-between;  /* Distribute space equally between items */
}

.custom-accordion .accordion-body {
    background: rgba(0,0,0,0.7);  /* more transparent black */
    color: white;
}

.text-and-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.accordion-button {
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
}

.accordion-body {
    background: rgba(0,0,0,0.7);
    color: white;
}

.accordion-header {
    margin-bottom: 20px; /* Add space below each header - allows modularity since multiple copied objects reuse this class */
}

.coursework-intro {
    background-color: rgba(0, 0, 0, 0.6); /* Translucent black background */
    color: #ffffff; /* White text */
    padding: 15px 20px; /* Some padding for aesthetics */
    border-radius: 8px; /* Rounded corners */
    font-size: 1.1em; /* Slightly larger text */
    margin-bottom: 30px; /* Space between this div and the content below */
    text-align: center; /* Center the text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
}