body {
    background: url('./images/galactic-thoughts.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    /* white text to contrast with the dark background */
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    /* Black with 50% opacity */
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    /* Change to whatever color you want */
    font-weight: bold;
    /* Makes text bold */
    font-size: 1.2em;
    /* Increase the size of the text */
}